
.search-souces {
    width: 100%;
    min-width: 310px;
    position: relative;
}
  
.search-souces > input {
    font-size: 15px;
    font-weight: normal;
    width: 100%;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 15px;
    background-color: inherit;
    border-bottom: 1px solid #b7b7b7;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 36px;
    outline: none;
    color: #323232;
}

.search-souces > svg {
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    color: #323232;
    height: 36px;
    outline: none;
    right: 10px;
    cursor: pointer;
}